extends layout

block content
  h1= title
  p.lead Welcome to #{title} #[span(style="color:#0f0;")= title]
  <span>#{title} </span>
  <br/>
  <br/>
  a.btn.btn-primary(href='http://getbootstrap.com/') Bootstrap 3
  <br/>
  <br/>
  <a class="btn btn-primary" href="#bootstrap">Bootstrap</a>
  <script type="text/javascript" src="/javascripts/main.min.js"></script>
