// section services
section(id="service" class="home-section text-center bg-gray")
  div(class="heading-about")
    div(class="container")
      div(class="row")
        div(class="col-lg-8 col-lg-offset-2")
          div(class="wow bounceInDown" data-wow-delay="0.4s")
            div(class="section-heading")
              h2 Services
              i(class="fa fa-2x fa-angle-down")
            p Gogistcis Ltd. is a business consulting company focused on renewable energy. Cross-border technology transfer between US and China. Help market development for China-based renewable energy companies into the US market. Partner with leading renewable energy companies to develop renewable energy projects, and promote their energy generation and energy efficient products.
  div(class="container")
    div(class="row")
      div(class="col-lg-2 col-lg-offset-5")
        hr(class="marginbot-50")

    div(class="row")
      div(class="col-xs-12")
        h4 Demo App
        br
        div(class="custom_table")
          div(id="finance_example")
